<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <table class="table">
        <thead>
          <tr>
            <th>イベント名</th>
            <th>開催日時</th>
            <th>開催場所</th>
            <th>現在の人数 / 募集定員</th>
            <th>元のイベントサイトへ</th>
          </tr>
        </thead>
        <tbody>
          <%= @events.each do |event| %>
          <tr class="success">
            <td>
              @
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td>
              Default
            </td>
            <td>
              Default
            </td>
          </tr>
          <tr class="success">
          	あ
          </tr>
          <tr class="error">
          	あ
          </tr>
          <tr class="warning">
          	あ
          </tr>
          <tr class="info">
          	あ
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>